/*#region CSS Reset*/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*#endregion */

/*region 整體大概流程

- html, body 
	- margin padding 歸零 
	- height:100% (html, body有設定高度子元素材可以伸展)
	- 設定文字樣式
- 大容器
	- 下Flex
	- height:100% 伸展整個版面，如果之前父元素沒100%無效
- 小容器
	- Flex: 伸展、壓縮、比例簡寫 1 1 50%
	- margin 上右下左內壓縮
	- border-radius: 圓角
- 子容器logo
	- 下Flex
	- 調整軸線 上到下
- 出處容器
	- 調整軸線右到左	

endreion*/

/* region 主要學到的
    - Flex: 伸展、壓縮、比例簡寫 : 1 1 50%
    - height: 100% 父元素沒有設定高度的襪無效
    - border-radius: 圓角
*/

html, body, h2, h3{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Microsoft JhengHei";
    color: #333;
  }
h1,h2,h3,h4{
    color: #3F5D45;
}
h1{
    font-size: 20px ;
}
img{
    padding-top: 10px;
}
.container_column{
    display: flex;
    height: 100%; /* html, body沒設定高度的話100%會無效 */
}
.left_title{
    display: flex;
    flex: 0 1 250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    padding: 30px 0 ;
    background-color: rgb(203, 148, 241);
}
.left_title .list a{
    display: block;
    font-size: 15px;
    padding: 10px ;    
    text-decoration: none;
    color: black;
}
.left_title .info{
    margin: 10px 20px;
}
.left_title .info p{
    padding-top: 3px;
}

.right_info{
    display: flex;
    height: 100%;
    flex: 1 1 500px;
    flex-direction: column;
    justify-content: center;
    background-color: lightblue;
}
.right_text{
    flex: 1 1 500px;
    overflow-y: overlay;
    /* margin: 20px 85px; */
    padding: 60px 80px;
}

.right_text h1{
    font-weight: bold;
    padding: 13px 0 0 0;
}
.right_text p{
    font-family: veradna;
    padding: 13px 0 13px 0;
    line-height: 1.4;
}

.right_text .product{
    display: flex;
    flex-wrap: wrap;
}
.right_text .item{
    flex: 1 1 30%;
    background-image: url('https://images.unsplash.com/photo-1525251172010-e7472985a6ca?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80');
    background-size: cover;
    height: 15vw;
    border: 2px #fff solid;
    box-sizing: border-box;
}
