/*#region CSS Reset*/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*#endregion */

/*region 整體大概流程

endreion*/

/* region 主要學到的
	加強的
		粗體
		內距離外距離區分
		內容對其軸線 align-items: baseline;
	新的
		- css選擇器 空白 = 另一個tag?
    		ex .row type2 = row & type2 兩個tag?
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Microsoft JhengHei";
    color: rgb(43, 43, 43);
}
h3{
	padding: 15px 0px;
	font-weight: bolder;
	font-size: 20px;
}
p{
	padding: 10px 0px;
	line-height: 120%;
}
.row{
	display: flex;
	width: 1200px;
	margin: 50px auto;
	padding: 30px 40px 30px 40px;
	border-radius: 20px 20px;
	letter-spacing: 1.3px;
	background-color: rgb(153, 202, 192);
}
.col{
	display: flex;
	align-items: flex-start;
	padding: 0px 20px;
}
.con{
	padding: 0px 10px;
}
.type2 .col{
	flex-direction: column;
	align-items: center;
	text-align: center
}
.type3{
	flex-direction: column;
}
.type3 .col{
	display: flex;
	align-items: center;
}
.type3 .reverse{
	flex-direction: row-reverse;
}
