/*#region CSS Reset*/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*#endregion */

/* 學到的 */
/* */

html, body{
    height: 100%;
}

.box_all{
    display: flex;
    height: 100%;
    /* margin: 20px 20px; */
    /* padding: 20px 20px; */
}

.box_img{
    display: flex;
    flex: 1 1 50%;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px;
    background-color: rgb(234, 240, 237);
}
.box_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    margin-left: 5px;
    border-radius: 50px 50px;
    background-color: rgb(234, 240, 237);
}
.text_box{
    margin: 20px;    
}

h1, p{
    font-family: "微軟正黑體";
    margin: 20px;
}

h1{
    font-size: 25px;
    font-weight: bold;    
    color: rgb(64, 90, 70);
}
p{
    /* letter-spacing: 1.2px; */
    line-height: 1.2em;
    color: rgb(14, 37, 20);
}
