/*#region CSS Reset*/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*#endregion */



/*region 整體大概流程
	1.  body 下  flex center center 置中置中
	2. .all width  90% 左右留白
	3. 上logo板塊設置 flex space-between  center 上面圓角 img要設大小沒社會爆掉
	4.  下面板塊內容 - css圖片 - (內文+ icon)
		主軸變直線 > 靠齊兩邊 > 對其尾巴
endreion*/

/* region 主要學到的
	css rest 影響 .btns i{} 不知道為什麼
	
	- 加強
		CSS圖片 background-image: url('')
	- align-items 壞掉不懂為啥
		- 解
		- logo 沒限制大小 justify-content: space-between; + align-items: center; 會爆掉
		- 限制大小 height or width
*/

/* 整體版面設置 > 滿版 > 顏色 > 其他etc... margin 0 消除邊框的拉霸條 */
html, body{
	margin: 0;
    height: 100%;
    width: 100%;
	font-family: "微軟正黑體", "Microsoft JhengHei";
    color: #333;
	background-color: gray;
}
/* 純粹為了 整體至中 */
body{
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 讓左右流空白 */
.all{
	width: 90%;
}
/* 上面的logo板塊 貼其左右 如果img沒限制大小會爆調 */
.top{
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 30px 30px 30px;
	/* font-weight: bold; */
	background-color: honeydew;
	border-radius: 10px 10px 0px 0px;
}
.top p{
	font-size: 20px;
}
/* 下面的內容板塊 - css圖片 - (內文+ icon) */
.row{
	display: flex;
	padding: 30px 30px 30px 30px;
	background-color: white;
}
/* css圖片 */
/* background-size: cover; = 縮放背景圖片以完全覆蓋背景區，可能背景圖片部分看不見。 */
.row .pic{
	height: 350px;
	width: 350px;
	background-image: url('https://images.unsplash.com/photo-1462745294598-b3f9a2d7b858?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');
	background-size: cover;
}
/* 內文+icon + 文字樣式調整 */
.con{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 50px;
}
.con h2{
	font-size: 23px;
	font-weight: bold;
	padding: 20px 0px 20px 0px;;
}
.con p{
	letter-spacing: 0.9px;
	line-height: 130%;
}

