/*#region CSS Reset*/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*#endregion */

/*region 整體大概流程
直線型 分散頭尾中  中間100%
endreion*/

/* region 主要學到的
    - CSS box-shadow: 1px 1px  9px black; 陰影
    - HTML <i> = <i> 标签和基于内容的样式标签 <em> 类似
    - HTML <article> = 元素表示文档、页面、应用或网站中的独立结构
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Microsoft JhengHei";
    color: #333;
}
a{
    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: black;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: gray;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
}
.header .menu{
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    overflow-y: auto;
}
.content{
    width: 600px;
    max-width: 100%;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: green;
}
.footer .menu{
    display: flex;
    align-items: center;
}
